<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lista de Produtos</title>
  </head>
  <body>
    <h2>Produtos</h2>
    <table>
      <thead>
      <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Descrição</td>
      </tr>
    </thead>
      <tbody>
      <% for(var i = 0; i < produtos.length; i++) {%>
      <tr>
        <td><%= produtos[i].id_produto%></td>
        <td><%= produtos[i].nome%></td>
        <td><%= produtos[i].descricao%></td>
      </tr>
      <% } %>
    </tbody>
    </table>
  </body>
</html>
