<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Descrição do Produto</title>
  </head>
  <body>
    <h2>Produto</h2>
    <table>
      <thead>
      <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Descrição</td>
      </tr>
    </thead>
      <tbody>

      <tr>
        <td><%= produto[0].id_produtos%></td>
        <td><%= produto[0].nome%></td>
        <td><%= produto[0].descricao%></td>
      </tr>

    </tbody>
    </table>
  </body>
</html>
